<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}<link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">{%- endif -%}
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {%- assign body_font = settings.body_font -%}
    {%- assign heading_font = settings.heading_font -%}
    <style>
      {{ body_font | font_face: font_display: 'swap' }}
      {{ heading_font | font_face: font_display: 'swap' }}

      :root {
        --color-bg: {{ settings.color_bg }};
        --color-text: {{ settings.color_text }};
        --color-text-light: {{ settings.color_text | color_mix: settings.color_bg, 60 }};
        --color-accent: {{ settings.color_accent }};
        --color-accent-text: {{ settings.color_accent_text }};
        --color-border: {{ settings.color_border }};
        --color-sale: {{ settings.color_sale }};
        --body-font-family: {{ body_font.family }}, {{ body_font.fallback_families }};
        --body-font-weight: {{ body_font.weight }};
        --heading-font-family: {{ heading_font.family }}, {{ heading_font.fallback_families }};
        --heading-font-weight: {{ heading_font.weight }};
        --page-width: {{ settings.page_width }}px;
        --header-height: 0px;
      }
    </style>
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="template-password">
    <main id="MainContent" role="main">{{ content_for_layout }}</main>
  </body>
</html>
